<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <!-- <style>
        .normal{
            color: blue;
        }
        .active{
            color: red;
        }
    </style>
    <div id="app">
        <div ref="msg">{{ msg }}</div>
        <div ref='div'></div>
        <div v-once>{{ msg }}</div>
        <div v-html="msg">{{ msg }}</div>
        <div :class="className" @click="changeClassName">{{ msg }}</div>
        <div>{{ reverssMsg() }}</div>
        <div>{{ msg.split('').reverse().join('') }}</div>
        <div>--------------------</div>
        <div>{{ reversedMsg }}</div>
        <div>{{ reversedMsg }}</div>
    </div> -->

    <!-- <div id="app">
        <div class="todos">
            <div v-for="todo in computedtodos" 
            :key="todo.id">

            <input type="checkbox"
            v-model=" todo.done">
        <span>{{ todo.title }}</span></input>
            </div>
        </div>
    </div> -->

    <div id='app'>
        <div> {{ reverseMsg }}</div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: 'hello world, <br/> good',
                number: 2,
                className: 'normal',
                todos:[
                    { title: 'ㅇㅏ침먹기'},
                    { title: '점심먹기'},
                    { title: '저녁먹기'},
                ],
            },
            methods:{
                changeClassName(){
                    this.className = 'active'
                },
                reverssMsg( ){
                    return this.msg.split('').reverse().join('')
                }
            },
            computed:{
                computedtodos(){
                    
                    return this.todos.map((todo, i) => {
                        // return   Object.assign({}, todo, {
                        //     id : i + 1,
                        //     done: false
                        // })
                        return {
                            ...todo,
                            id: i + 1,
                            done: false
                        }   
                    })
                },
                reversedMsg(){
                    return this.msg.split('').reverse().join('')
                },
                reverseMsg:{
                    get: function (){
                        return this.msg.split('').reverse().join('')
                    },
                    set: function (value){
                        this.msg = value
                    }
                }
            },
            watch:{
               
            },
            beforeCreate(){
                console.log('beforCreate',this.msg)
            },
            created(){
                console.log('Created',this.msg)
            },
            beforeMount(){  
                console.log('beformount',this.$refs.div)
            },
            mounted(){
                console.log('mounted',this.$refs.div)
            },
            beforeUpdate(){
                console.log('beforUpdate',this.$refs.msg.innerText)
            },
            updated(){
                console.log('updated',this.$refs.msg.innerText)
            },
            beforeDestroy(){
                console.log('beforeDestroy')
            },
            destroyed(){
                console.log('destroyed')
            }
        })

        console.log(vm)
    </script>
</body>
</html>