<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <style>
        .box{
            width: 100px;
            height: 100px;
            background: red;
        }
        .box--red {
            background-color: red;
        }
        .box--blue{
            background-color: blue;
        }
        .box--gray{
            background-color: gray;
        }
        .parent{
            width:200px;
            height: 200px;
            background: royalblue;
        }
        .child{
            width: 100px;
            height: 100px;
            background: salmon;
        }
    </style>
    <!-- <style>
        .normal{
            color: blue;
        }
        .active{
            color: red;
        }
    </style>
    <div id="app">
        <div ref="msg">{{ msg }}</div>
        <div ref='div'></div>
        <div v-once>{{ msg }}</div>
        <div v-html="msg">{{ msg }}</div>
        <div :class="className" @click="changeClassName">{{ msg }}</div>
        <div>{{ reverssMsg() }}</div>
        <div>{{ msg.split('').reverse().join('') }}</div>
        <div>--------------------</div>
        <div>{{ reversedMsg }}</div>
        <div>{{ reversedMsg }}</div>
    </div> -->

    <!-- <div id="app">
        <div class="todos">
            <div v-for="todo in computedtodos" 
            :key="todo.id">

            <input type="checkbox"
            v-model=" todo.done">
        <span>{{ todo.title }}</span></input>
            </div>
        </div>
    </div> -->

    <!-- <div id='app'>
        <div>{{ msg }}</div>
        <div> {{ reverseMsg }}</div>
        <div v-if="colorState === 'red'" 
        class="box box--red"></div>
        <div v-else-if="colorState === 'blue'"
        class="box box--blue"></div>
        <div v-else
        class="box box--gray"></div>
        <button @click="toggle">Toggle</button>
        <div v-show="show"
        class="box"></div>
        <button @click="pushTodo">PUSH</button>
        <ul class="todos">
            <li v-for="(todo,index) in todos"
            :key="index">
        {{ todo.title}}</li>
        </ul>
        <button @click="addHomepage">ADD Homepage</button>
        <ul class="heropy">
            <li v-for="(value, key, index) in heropy"
            :key="index">
                {{ value }}
            </li>
        </ul>
        <ul>
            <li v-for="(todo, index) in todos"
            :key="index"
            :class="'item-' + (index +1)"
            @click="clickMethod1(todo.title, $event); clickMethod2()">{{ todo.title}}</li>
        </ul>
         <div class="parent" @click.self="clickHandler">
            <div class="child" @click="clickHandler"></div>
        </div>
        <input type="text" @keydown.ctrl.enter="keydownHandler">
        <input type="text" @input="bindMessage" :value="message">
       <div>{{ message }}</div>
       <input type="text" 
       v-model.number="message">
       <div>{{ message }}</div>
       <div>{{ typeof message }}</div>
        <my-comp :my-msg= 'message' @my-event="updateMessage"></my-comp>
       
    </div> -->
    <div id="app2">
        <my-comp />
    </div>
    <div id="app">
       <my-comp>
           <!-- <div slot='slot1'>Hello Slot</div>
           <input type="text"> -->
           <template slot-scope="{mySlotData}">
               {{ mySlotData }}
           </template>
       </my-comp>
       
    </div>
    

    <script>
        Vue.component('my-comp', {
            template: '<div><slot :my-slot-data="message"></slot></div>',
            // props: {
            //     myMsg: {
            //         type: [String, Number],
            //         required: true,
            //         // validator(value){
            //         //     return value === 'hello~'
            //         // }
            //     } 
            // },
            data(){
                return{
                    message:'hello slot?'
                }
            },
            methods:{
                updateMsg(){
                    // this.myMsg = "good"
                    this.$emit('my-event', 'Good')
                }
            }
        })

        const myComp = {
            template: '<div class="me"> {{ message }}</div>',
            data(){
                return {
                    message: "hello Vue~"
                }
            }
        }
        const vm = new Vue({
            el: '#app',
            data() {
               return {
                message:"hello~",
                msg: 'hello world, <br/> good',
                number: 2,
                className: 'normal',
                todos:[
                    { title: '아침먹기'},
                    { title: '점심먹기'},
                    { title: '저녁먹기'},
                ],
                heropy:{
                    name: "heropy",
                    age: 23,
                    // homepage:"",
                    // email:"",
                } ,
                colorState: 'blue',
                show:true,}
            },
            methods:{
                changeClassName(){
                    this.className = 'active'
                },
                reverssMsg( ){
                    return this.msg.split('').reverse().join('')
                },
                toggle(){
                    this.show = !this.show
                },
                pushTodo(){
                    // this.todos.push( {title:'야식먹기'})
                    // Vue.set(this.todos, 3, {title:'야식먹기!'})
                    this.$set(this.todos, 3, {title:'야식먹기!'})
                },
                addHomepage(){
                    this.$set(this.heropy,"hompage",'heropy.blog')
                },
                clickMethod1(title, event){
                    console.log('click1')
                    // console.log(title)
                    // console.log(event.currentTarget.className)
                },
                clickMethod2(){
                    console.log('click2') 
                },
                clickHandler(event){
                    console.log(event.currentTarget.className)
                },
                keydownHandler(event){
                    
                    console.log('dow!!')
                },
                bindMessage(event){
                    this.message = event.target.value
                },
                updateMessage(value){
                    this.message = value
                }
            },
            computed:{
                computedtodos(){
                    
                    return this.todos.map((todo, i) => {
                        // return   Object.assign({}, todo, {
                        //     id : i + 1,
                        //     done: false
                        // })
                        return {
                            ...todo,
                            id: i + 1,
                            done: false
                        }   
                    })
                },
                reversedMsg(){
                    return this.msg.split('').reverse().join('')
                },
                reverseMsg:{
                    //getter
                    get (){
                        return this.msg.split('').reverse().join('')
                    },
                    //setter
                    set(value){
                        this.msg = value
                    }
                }
            },
            watch:{
               msg(newMsg) {
                console.log("new data: " + newMsg)
               },
               reversedMsg(newMsg){
                console.log("new reversedMsg: " + newMsg)
               }
            },
            components: {
                'my-component': myComp
            }
            // beforeCreate(){
            //     console.log('beforCreate',this.msg)
            // },
            // created(){
            //     console.log('Created',this.msg)
            // },
            // beforeMount(){  
            //     console.log('beformount',this.$refs.div)
            // },
            // mounted(){
            //     console.log('mounted',this.$refs.div)
            // },
            // beforeUpdate(){
            //     console.log('beforUpdate',this.$refs.msg.innerText)
            // },
            // updated(){
            //     console.log('updated',this.$refs.msg.innerText)
            // },
            // beforeDestroy(){
            //     console.log('beforeDestroy')
            // },
            // destroyed(){
            //     console.log('destroyed')
            // }
        })
        const vm2 = new Vue({
            el:'#app2',
            components:{
                myComp
            }
        })
        console.log(vm)
    </script>
</body>
</html>