<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <style>
        .box{
            width: 100px;
            height: 100px;
            background: red;
        }
        .box--red {
            background-color: red;
        }
        .box--blue{
            background-color: blue;
        }
        .box--gray{
            background-color: gray;
        }
    </style>
    <!-- <style>
        .normal{
            color: blue;
        }
        .active{
            color: red;
        }
    </style>
    <div id="app">
        <div ref="msg">{{ msg }}</div>
        <div ref='div'></div>
        <div v-once>{{ msg }}</div>
        <div v-html="msg">{{ msg }}</div>
        <div :class="className" @click="changeClassName">{{ msg }}</div>
        <div>{{ reverssMsg() }}</div>
        <div>{{ msg.split('').reverse().join('') }}</div>
        <div>--------------------</div>
        <div>{{ reversedMsg }}</div>
        <div>{{ reversedMsg }}</div>
    </div> -->

    <!-- <div id="app">
        <div class="todos">
            <div v-for="todo in computedtodos" 
            :key="todo.id">

            <input type="checkbox"
            v-model=" todo.done">
        <span>{{ todo.title }}</span></input>
            </div>
        </div>
    </div> -->

    <!-- <div id='app'>
        <div>{{ msg }}</div>
        <div> {{ reverseMsg }}</div>
        <div v-if="colorState === 'red'" 
        class="box box--red"></div>
        <div v-else-if="colorState === 'blue'"
        class="box box--blue"></div>
        <div v-else
        class="box box--gray"></div>
        <button @click="toggle">Toggle</button>
        <div v-show="show"
        class="box"></div>
    </div> -->
    <div id="app">
        
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: 'hello world, <br/> good',
                number: 2,
                className: 'normal',
                todos:[
                    { title: '아침먹기'},
                    { title: '점심먹기'},
                    { title: '저녁먹기'},
                ],
                colorState: 'blue',
                show:true,
            },
            methods:{
                changeClassName(){
                    this.className = 'active'
                },
                reverssMsg( ){
                    return this.msg.split('').reverse().join('')
                },
                toggle(){
                    this.show = !this.show
                }
            },
            computed:{
                computedtodos(){
                    
                    return this.todos.map((todo, i) => {
                        // return   Object.assign({}, todo, {
                        //     id : i + 1,
                        //     done: false
                        // })
                        return {
                            ...todo,
                            id: i + 1,
                            done: false
                        }   
                    })
                },
                reversedMsg(){
                    return this.msg.split('').reverse().join('')
                },
                reverseMsg:{
                    //getter
                    get (){
                        return this.msg.split('').reverse().join('')
                    },
                    //setter
                    set(value){
                        this.msg = value
                    }
                }
            },
            watch:{
               msg(newMsg) {
                console.log("new data: " + newMsg)
               },
               reversedMsg(newMsg){
                console.log("new reversedMsg: " + newMsg)
               }
            },
            beforeCreate(){
                console.log('beforCreate',this.msg)
            },
            created(){
                console.log('Created',this.msg)
            },
            beforeMount(){  
                console.log('beformount',this.$refs.div)
            },
            mounted(){
                console.log('mounted',this.$refs.div)
            },
            beforeUpdate(){
                console.log('beforUpdate',this.$refs.msg.innerText)
            },
            updated(){
                console.log('updated',this.$refs.msg.innerText)
            },
            beforeDestroy(){
                console.log('beforeDestroy')
            },
            destroyed(){
                console.log('destroyed')
            }
        })

        console.log(vm)
    </script>
</body>
</html>